
      <div class="container">
        <div class="vlt-gap-150"></div>
        <div class="vlt-gap-150"></div>
        <div class="row">
          <div class="col-xl-4">
            <!--Animated Block-->
            <div class="vlt-animated-block animate__animated animate__fadeInUpSm" data-animation-name="fadeInUpSm" style="animation-delay:0s; animation-duration:700ms;">
              <h3>Contact</h3>
              <div class="vlt-gap-30"></div>
              <p>You'll called for yielding male, so lights Stars abundantly, is their.</p>
              <div class="vlt-gap-40"></div>
              <address>Industrieweg 20-16, 3846 BD Harderwijk, Netherlands</address>
              <p><a class="tel" href="tel:+72126742510">+7 (212) 674-25-10</a></p>
              <p><a class="email" href="mailto:info@reploye.com">info@reploye.com</a></p>
            </div>
          </div>
          <div class="col-xl-6 offset-xl-2">
            <div class="vlt-gap-70--lg"></div>
            <!--Animated Block-->
            <div class="vlt-animated-block animate__animated animate__fadeInUpSm" data-animation-name="fadeInUpSm" style="animation-delay:.1s; animation-duration:700ms;">
              <h4>Let's grab a coffee and jump on conversation <span class="has-accent-color">chat with me.</span></h4>
              <div class="vlt-gap-20"></div>
              <form class="vlt-contact-form" novalidate="novalidate">
                <div class="vlt-form-group">
                  <input type="text" id="name" name="name" [(ngModel)]="mail.name" required="required" placeholder="Your Name">
                </div>
                <div class="vlt-form-group">
                  <input type="email" id="email" name="email" [(ngModel)]="mail.email" required="required" placeholder="Your Email">
                </div>
                <div class="vlt-form-group">
                  <textarea name="message" id="message" [(ngModel)]="mail.message" rows="3" placeholder="Message"></textarea>
                </div>
                <div class="message success">Your message is successfully sent...</div>
                <div class="message danger">Sorry something went wrong!</div>
                <!--Button-->
                <button type="button" (click)="sendmail()" class="vlt-btn vlt-btn--primary vlt-btn--md">Contact Us</button>
              </form>
            </div>
          </div>
        </div>
      </div>
