<div class="vlt-section__vertical-align bg-black">
  <div class="vlt-section__content">
    <!--Ken Burn Effect-->
    <div class="vlt-section__ken-burn-background has-mobile-image"><img class="img-overlay" src="" alt=""><img
        src="assets/img/home-mobile.jpg" alt=""></div>
    <div class="container-fluid">
      <img style="position: absolute; left:0;top:-5px" src="/assets/images/mainimg1.png" alt="">
      <img style="position: absolute; top:-155px; right: -155px" src="/assets/images/mainimg3.png" alt="">
      <div class="vlt-gap-50"></div>
      <div class="row">
        <div class="col-lg-7">
          <!--Animated Block-->
          <div class="vlt-animated-block row" data-animation-name="fadeInUpSm"
            style="animation-delay:.1s; animation-duration:700ms;">
            <span class="line"></span>
            <h6>&nbsp; &nbsp; ITmmediately</h6>
          </div>
          <div class="vlt-gap-15"></div>
          <!--Animated Block-->
          <div id="title1" class="vlt-animated-block title1" data-animation-name="fadeInUpSm"
            style="animation-delay:.2s; animation-duration:700ms;">
            <h1 class="main-title"> Make our team <p><b>your team!</b></p>
            </h1>
          </div>
          <div class="vlt-gap-30"></div>
          <div>
            <button mat-button class="btn--primary"> Get free consultation </button>
            <button mat-button class="btn--outline-primary ml-sm"> Know more </button>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>