
.btn--primary{
    background: #81338a;
    color: white;
    font-size: 1.1em;
    padding: 5px 20px 5px 20px;
}

.btn--outline-primary{
    border : 3px solid #81338a;
    color: #81338a;
    font-size: 1.1em;
    padding: 5px 20px 5px 20px;
}

.ml-sm{
    margin-left : 10px;
}


.mt-100{
    margin-top:5em
}
