<div class="vlt-section pp-scrollable" data-anchor="Testimonials">
  <div class="vlt-section__vertical-align">
    <div class="vlt-section__content">
      <!--Ken Burn Effect-->
      <div class="vlt-section__ken-burn-background">
        <img class="section-img-1"  src="/assets/images/3d-circle.svg" alt="">
        <img class="section-img-2"  src="/assets/images/line-4.svg" alt="">
        <img class="section-img-3" src="/assets/images/bubicle.svg" alt="">
        <img class="mobile-img-1" src="/assets/images/mobile-about-line.svg" alt="">
      </div>
      <div class="container-fluid">
        <div class=" col-11 offset-1 col-md-11 offset-md-1 col-lg-7 offset-lg-4 ">
          <h3 class="title">Your Programming Needs At <span class="text--primary"> Your Fingertips</span></h3>
          <div class="vlt-gap-30"></div>
          <p class="content">
            We support small-medium businesses to succeed by offering smooth, reliable and reasonably priced programmers and programming solutions. In our professional careers, we found ourselves looking for simple tech solutions - fast, professional and affordable services to outsource our programming needs - <span class="text--primary"> <strong>that could support us in building an app or optimizing our website</strong> </span> . When we failed to find one, we decided to build one.
          </p>
          <div class="vlt-gap-30"></div>
          <button routerLink="/about-us" class="learn-more-button" mat-button>Learn More</button>
        </div>
      </div>
    </div>
  </div>
</div>






