
.step-icon-container{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    padding: 35px;
}

.bg--primary{
    background-color: #433797;
}
.bg--secondary{
    background-color: #856286;
}
.bg--red{
    background-color: #c08878;
}
.bg--yellow{
    background-color: #eaa36e;
}



.mt-100{
    margin-top:5em
}

.vertical-slider{
    height: 500px;
    width: 500px;
    box-shadow: 22px 44px 59px #15101059;
    border-radius: 50%;
}

.dotted-border{
    border-radius: 50%;
    padding: 10px;
    border: dotted 3px grey;
    width: min-content;
}
