<div class="vlt-section__vertical-align">
  <div class="vlt-section__content flex-align-start">
    <!--Projects-->
    <div class="vlt-section__ken-burn-background">
      <img class="section-img-1" src="/assets/images/line-1.svg" alt="">
      <img class="section-img-2" src="/assets/images/bubicle.svg" alt="">
    </div>
    <div class="container-fluid">
      
      <!--Animated Block-->
      <div class="vlt-animated-block row" data-animation-name="fadeInUpSm"
        style="animation-delay:.1s; animation-duration:700ms;">
        <!--Product-->
        <div class="col-xl-8">
          <h3>HOW WE <span class="text--primary">WORK</span></h3>
          <p>Get in contact. Make our team your team. Make your tech dreams come true.</p>
          <div class="row col-xl-12">
            <div class="col-lg-6 row mt-100">
              <div class="col-xl-4 step">
                <div class="dotted-border">
                  <div class="step-icon-container bg--primary">
                    <img src="/assets/images/icon-1.svg" alt="">
                  </div>
                </div>
              </div>
              <div class="col-xl-8 step-content">
                <div class="vlt-gap-20"></div>
                <h5>Service X</h5>
                <div class="vlt-gap-20"></div>
                <p>this is the service we are providing for you</p>
              </div>
            </div>
            <div class="col-lg-6 row mt-100">
              <div class="col-xl-4 step">
                <div class="dotted-border">
                  <div class="step-icon-container bg--secondary">
                    <img src="/assets/images/icon-2.svg" alt="">
                  </div>
                </div>
              </div>
              <div class="col-xl-8 step-content">
                <div class="vlt-gap-20"></div>
                <h5>Service X</h5>
                <div class="vlt-gap-20"></div>
                <p>this is the service we are providing for you</p>
              </div>
            </div>
            <div class="col-lg-6 row mt-100">
              <div class="col-xl-4 step">
                <div class="dotted-border">
                  <div class="step-icon-container bg--red">
                    <img src="/assets/images/icon-3.svg" alt="">
                  </div>
                </div>
              </div>
              <div class="col-xl-8 step-content">
                <div class="vlt-gap-20"></div>
                <h5>Service X</h5>
                <div class="vlt-gap-20"></div>
                <p>this is the service we are providing for you</p>
              </div>
            </div>
            <div class="col-lg-6 row mt-100">
              <div class="col-xl-4 step">
                <div class="dotted-border">
                  <div class="step-icon-container bg--yellow">
                    <img src="/assets/images/icon-4.svg" alt="">
                  </div>
                </div>
              </div>
              <div class="col-xl-8 step-content">
                <div class="vlt-gap-20"></div>
                <h5>Service X</h5>
                <div class="vlt-gap-20"></div>
                <p>this is the service we are providing for you</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4 row mobile-hide">
          <div class="vertical-slider m-auto">

          </div>
          <div class="col-xl-1 m-auto slider-div-controllers">
            <div><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512"
                style="enable-background:new 0 0 512 512;" xml:space="preserve">
                <path d="M256,0C115.39,0,0,115.39,0,256s115.39,256,256,256s256-115.39,256-256S396.61,0,256,0z" />
              </svg></div>
            <div><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512"
                style="enable-background:new 0 0 512 512;" xml:space="preserve">
                <path d="M256,0C115.39,0,0,115.39,0,256s115.39,256,256,256s256-115.39,256-256S396.61,0,256,0z" />
              </svg></div>
            <div><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512"
                style="enable-background:new 0 0 512 512;" xml:space="preserve">
                <path d="M256,0C115.39,0,0,115.39,0,256s115.39,256,256,256s256-115.39,256-256S396.61,0,256,0z" />
              </svg></div>
            <div><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512"
                style="enable-background:new 0 0 512 512;" xml:space="preserve">
                <path d="M256,0C115.39,0,0,115.39,0,256s115.39,256,256,256s256-115.39,256-256S396.61,0,256,0z" />
              </svg></div>
            <div><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512"
                style="enable-background:new 0 0 512 512;" xml:space="preserve">
                <path d="M256,0C115.39,0,0,115.39,0,256s115.39,256,256,256s256-115.39,256-256S396.61,0,256,0z" />
              </svg></div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>