:host{
    opacity: 1;
}


.services-title{
    font-size:5em
}

.services-sub-title{
    color:#B73382;
    font-size:2em
}


/* Swiper Controllers design */
svg{
    height: 1.125rem;
}

.vlt-slider-controls--style-1 .vlt-swiper-button-prev,
.vlt-slider-controls--style-1 .vlt-swiper-button-next
{
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display:         inline-flex;

    width: 3.125rem;
    height: 3.125rem;

    cursor: pointer; 
    -webkit-transition: all 300ms;
            transition: all 300ms;

    color: #3E369A;
    background-color: transparent;
    -webkit-box-shadow: inset 0 0 0 1px #3E369A;
            box-shadow: inset 0 0 0 1px #3E369A;

    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
            justify-content: center;
}
.vlt-slider-controls--style-1 .vlt-swiper-button-prev:focus,
.vlt-slider-controls--style-1 .vlt-swiper-button-next:focus
{
    outline: none;
}
.vlt-slider-controls--style-1 .vlt-swiper-button-prev:hover,
.vlt-slider-controls--style-1 .vlt-swiper-button-next:hover
{
    background-color: #3E369A;
    -webkit-box-shadow: inset 0 0 0 1px #3E369A;
            box-shadow: inset 0 0 0 1px #3E369A;
}
.vlt-slider-controls--style-1 .vlt-swiper-button-prev svg,
.vlt-slider-controls--style-1 .vlt-swiper-button-next svg
{
    height: 1.125rem;
}
.vlt-slider-controls--style-1 .vlt-swiper-button-prev + .vlt-swiper-button-next
{
    margin-left: 1.25rem;
}
.vlt-slider-controls--style-2 .vlt-swiper-button-prev,
.vlt-slider-controls--style-2 .vlt-swiper-button-next
{
    position: absolute;
    top: calc(50% - 80px);

    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display:         inline-flex;

    cursor: pointer; 
    -webkit-transition: all 300ms;
            transition: all 300ms;

    color: rgba(255, 255, 255, .4);

    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
            justify-content: center;
}
@media (max-width: 1500px)
{
    .vlt-slider-controls--style-2 .vlt-swiper-button-prev,
    .vlt-slider-controls--style-2 .vlt-swiper-button-next
    {
        display: none;
    }
}
.vlt-slider-controls--style-2 .vlt-swiper-button-prev:focus,
.vlt-slider-controls--style-2 .vlt-swiper-button-next:focus
{
    outline: none;
}
.vlt-slider-controls--style-2 .vlt-swiper-button-prev:hover,
.vlt-slider-controls--style-2 .vlt-swiper-button-next:hover
{
    color: #3E369A;
}
.vlt-slider-controls--style-2 .vlt-swiper-button-prev svg,
.vlt-slider-controls--style-2 .vlt-swiper-button-next svg
{
    height: 2.5rem;
}
.vlt-slider-controls--style-2 .vlt-swiper-button-prev
{
    left: -6.25rem;
}
.vlt-slider-controls--style-2 .vlt-swiper-button-next
{
    right: -6.25rem;
}



