<div class="vlt-gap-140"></div>
<div class="" style="overflow: hidden;">

  <!-- Header Section -->
  <section>
    <div class="container">
      <h1 class="header" style="height: 30vh; display: flex; justify-content: center; align-items: center; align-content: center;">What we offer.</h1>

      <div class="main-img" style="height: 70vh;">
        <img style="position: absolute; width: 30%;top: 69%;" src="/assets/images/services4.jpg" alt="">
        <img style="position: absolute; width: 40%;left: 30%;" src="/assets/images/services3.jpg" alt="">
        <img style="position: absolute; width: 17%;left: 65%;top: 40%;" src="/assets/images/services1.jpg" alt="">
      </div>
    
      <div class="row items-center">
        <div class="col-lg-5">
          <h4 class="header-h4">One company, one point of accountability.</h4>
        </div>
        <div class="col-lg-7">
          <img src="/assets/images/services.png" alt="">
        </div>
      </div>

      <div class="vlt-gap-50"></div>

      <div class="row items-center">
        <div class="col-lg-7">
          <img src="/assets/images/services.png" alt="">
        </div>
  
        <div class="col-lg-5">
          <h4 class="header-h4">No-strings-attached contracts.</h4>
        </div>
      </div>

      <div class="vlt-gap-50"></div>

      <div class="row items-center">
        <div class="col-lg-5">
          <h4 class="header-h4">An account manager dedicated to you and the option to communicate directly to the programmers working on your project.</h4>
        </div>
        <div class="col-lg-7">
          <img src="/assets/images/services.png" alt="">
        </div>
      </div>

      <div class="vlt-gap-50"></div>

      <div class="row items-center">
        <div class="col-lg-7">
          <img src="/assets/images/services.png" alt="">
        </div>
        <div class="col-lg-5">
          <h4 class="header-h4">An offboarding process designed to ensure YOUR satisfaction and a money-back guarantee!</h4>
        </div>
      </div>
    </div>

  </section>

  <div class="vlt-gap-150"></div>

  <!-- Language based coding Section -->
  <div class="languages text-center row col-12">

    <h2 class="w-100">Language-based coding</h2>
    <div class="vlt-gap-100"></div>
    <div class="row col-12">
      <div class="col-lg-12">
        <video height="700" loop="true" autoplay="autoplay" id="vid" muted>
          <source src="/assets/images/reploye_laptop.mp4" type="video/mp4" />
        </video>    
      </div>
    </div>
    
    <!-- Html gap -->
    <div class="vlt-gap-100 row col-12"></div>

    <!-- Languages that we speak -->

    <div class="col-6">
      <div class="row w-full">
        <div class="language">
          <img class="language-img" src="/assets/images/devtools/dev1.png" alt="">
        </div>
        <div class="language">
          <img class="language-img" src="/assets/images/devtools/dev2.png" alt="">
        </div>
        <div class="language">
          <img class="language-img" src="/assets/images/devtools/dev3.png" alt="">
        </div>
        <div class="language">
          <img class="language-img" src="/assets/images/devtools/dev4.png" alt="">
        </div>
        <div class="language">
          <img class="language-img" src="/assets/images/devtools/dev5.png" alt="">
        </div>
        <div class="language">
          <img class="language-img" src="/assets/images/devtools/dev6.png" alt="">
        </div>
        <div class="language">
          <img class="language-img" src="/assets/images/devtools/dev7.png" alt="">
        </div>
      </div>


      <div class="row w-full ml-n-1">
        <div class="language">
          <img class="language-img" src="/assets/images/devtools/dev8.png" alt="">
        </div>
        <div class="language">
          <img class="language-img" src="/assets/images/devtools/dev9.png" alt="">
        </div>
        <div class="language">
          <img class="language-img" src="/assets/images/devtools/dev10.png" alt="">
        </div>
        <div class="language">
          <img class="language-img" src="/assets/images/devtools/dev11.png" alt="">
        </div>
        <div class="language">
          <img class="language-img" src="/assets/images/devtools/dev12.png" alt="">
        </div>
        <div class="language">
          <img class="language-img" src="/assets/images/devtools/dev13.png" alt="">
        </div>
        <div class="language">
          <img class="language-img" src="/assets/images/devtools/dev14.png" alt="">
        </div>
      </div>


      <div class="row w-full ml-n-2">
        <div class="language">
          <img class="language-img" src="/assets/images/devtools/dev15.png" alt="">
        </div>
        <div class="language">
          <img class="language-img" src="/assets/images/devtools/dev16.png" alt="">
        </div>
        <div class="language">
          <img class="language-img" src="/assets/images/devtools/dev17.png" alt="">
        </div>
        <div class="language">
          <img class="language-img" src="/assets/images/devtools/dev18.png" alt="">
        </div>
        <div class="language">
          <img class="language-img" src="/assets/images/devtools/dev19.png" alt="">
        </div>
        <div class="language">
          <img class="language-img" src="/assets/images/devtools/dev20.png" alt="">
        </div>
        <div class="language">
          <img class="language-img" src="/assets/images/devtools/dev21.png" alt="">
        </div>
      </div>

      
      <div class="row w-full ml-n-3">
        <div class="language">
          <img class="language-img" src="/assets/images/devtools/dev22.png" alt="">
        </div>
        <div class="language">
          <img class="language-img" src="/assets/images/devtools/dev23.png" alt="">
        </div>
        <div class="language">
          <img class="language-img" src="/assets/images/devtools/dev24.png" alt="">
        </div>
        <div class="language">
          <img class="language-img" src="/assets/images/devtools/dev25.png" alt="">
        </div>
        <div class="language">
          <img class="language-img" src="/assets/images/devtools/dev26.png" alt="">
        </div>
        <div class="language">
          <img class="language-img" src="/assets/images/devtools/dev27.png" alt="">
        </div>
        <div class="language">
          <img class="language-img" src="/assets/images/devtools/dev28.png" alt="">
        </div>
      </div>


      <div class="row w-full ml-n-4">
        <div class="language">
          <img class="language-img" src="/assets/images/devtools/dev1.png" alt="">
        </div>
        <div class="language">
          <img class="language-img" src="/assets/images/devtools/dev1.png" alt="">
        </div>
        <div class="language">
          <img class="language-img" src="/assets/images/devtools/dev1.png" alt="">
        </div>
        <div class="language">
          <img class="language-img" src="/assets/images/devtools/dev1.png" alt="">
        </div>
        <div class="language">
          <img class="language-img" src="/assets/images/devtools/dev1.png" alt="">
        </div>
        <div class="language">
          <img class="language-img" src="/assets/images/devtools/dev1.png" alt="">
        </div>
        <div class="language">
          <img class="language-img" src="/assets/images/devtools/dev1.png" alt="">
        </div>
      </div>
    </div>

    <!-- Languages Content -->
    <div class="col-lg-6 row align-content-center justify-content-center">
      <h4>Language-based Coding </h4>
      <p> <b>We speak your language! </b> Our multi-lingual team ofprogrammers have experience coding with various programming languages that will suit your need.</p>
    </div>

    <!-- Frameworks Content -->
    <div class="col-lg-6 row align-content-center justify-content-center">
      <h4>Coding With Frameworks and Interfaces</h4>
      <p>Already working within a particular framework or with a specific interface? </p>
      <p>Not a worry. Just get in contact, we have the programmer to match your needs.</p>
    </div>

    <div class="col-lg-6">
      <div class="row w-full justify-content-right mr-n-4">
        <div class="language">
          <img class="language-img" src="/assets/images/devtools/dev1.png" alt="">
        </div>
        <div class="language">
          <img class="language-img" src="/assets/images/devtools/dev1.png" alt="">
        </div>
        <div class="language">
          <img class="language-img" src="/assets/images/devtools/dev1.png" alt="">
        </div>
        <div class="language">
          <img class="language-img" src="/assets/images/devtools/dev1.png" alt="">
        </div>
        <div class="language">
          <img class="language-img" src="/assets/images/devtools/dev1.png" alt="">
        </div>
        <div class="language">
          <img class="language-img" src="/assets/images/devtools/dev1.png" alt="">
        </div>
        <div class="language">
          <img class="language-img" src="/assets/images/devtools/dev1.png" alt="">
        </div>
      </div>


      <div class="row w-full justify-content-right mr-n-3">
        <div class="language">
          <img class="language-img" src="/assets/images/devtools/dev1.png" alt="">
        </div>
        <div class="language">
          <img class="language-img" src="/assets/images/devtools/dev1.png" alt="">
        </div>
        <div class="language">
          <img class="language-img" src="/assets/images/devtools/dev1.png" alt="">
        </div>
        <div class="language">
          <img class="language-img" src="/assets/images/devtools/dev1.png" alt="">
        </div>
        <div class="language">
          <img class="language-img" src="/assets/images/devtools/dev1.png" alt="">
        </div>
        <div class="language">
          <img class="language-img" src="/assets/images/devtools/dev1.png" alt="">
        </div>
        <div class="language">
          <img class="language-img" src="/assets/images/devtools/dev1.png" alt="">
        </div>
      </div>


      <div class="row w-full justify-content-right mr-n-2">
        <div class="language">
          <img class="language-img" src="/assets/images/devtools/dev1.png" alt="">
        </div>
        <div class="language">
          <img class="language-img" src="/assets/images/devtools/dev1.png" alt="">
        </div>
        <div class="language">
          <img class="language-img" src="/assets/images/devtools/dev1.png" alt="">
        </div>
        <div class="language">
          <img class="language-img" src="/assets/images/devtools/dev1.png" alt="">
        </div>
        <div class="language">
          <img class="language-img" src="/assets/images/devtools/dev1.png" alt="">
        </div>
        <div class="language">
          <img class="language-img" src="/assets/images/devtools/dev1.png" alt="">
        </div>
        <div class="language">
          <img class="language-img" src="/assets/images/devtools/dev1.png" alt="">
        </div>
      </div>

      
      <div class="row w-full justify-content-right mr-n-1">
        <div class="language">
          <img class="language-img" src="/assets/images/devtools/dev1.png" alt="">
        </div>
        <div class="language">
          <img class="language-img" src="/assets/images/devtools/dev1.png" alt="">
        </div>
        <div class="language">
          <img class="language-img" src="/assets/images/devtools/dev1.png" alt="">
        </div>
        <div class="language">
          <img class="language-img" src="/assets/images/devtools/dev1.png" alt="">
        </div>
        <div class="language">
          <img class="language-img" src="/assets/images/devtools/dev1.png" alt="">
        </div>
        <div class="language">
          <img class="language-img" src="/assets/images/devtools/dev1.png" alt="">
        </div>
        <div class="language">
          <img class="language-img" src="/assets/images/devtools/dev1.png" alt="">
        </div>
      </div>


      <div class="row w-full justify-content-right mr-n-0">
        <div class="language">
          <img class="language-img" src="/assets/images/devtools/dev1.png" alt="">
        </div>
        <div class="language">
          <img class="language-img" src="/assets/images/devtools/dev1.png" alt="">
        </div>
        <div class="language">
          <img class="language-img" src="/assets/images/devtools/dev1.png" alt="">
        </div>
        <div class="language">
          <img class="language-img" src="/assets/images/devtools/dev1.png" alt="">
        </div>
        <div class="language">
          <img class="language-img" src="/assets/images/devtools/dev1.png" alt="">
        </div>
        <div class="language">
          <img class="language-img" src="/assets/images/devtools/dev1.png" alt="">
        </div>
        <div class="language">
          <img class="language-img" src="/assets/images/devtools/dev1.png" alt="">
        </div>
      </div>
    </div>

  </div>

  


  <div class="vlt-gap-150"></div>

  <!-- Get in Contact Section -->
  <section>
    <div class="container">
      <div class="get-in-contact text-center">
        <h2 class="contact-title"> Get in contact </h2>
        <p class="contact-content">
          Make our team your team. Make your tech dreams come true.
        </p>
        <button mat-flat-button class="contact-button" color="primary"> Contact us </button>
      </div>
    </div>
  </section>

</div>