<div class="vlt-gap-140"></div>
<div class="container">

  <!-- Header Section -->
  <div class="header">
    <h1>One company, one point of accountability.</h1>
  </div>

  <div class="vlt-gap-150"></div>

  <!-- Stay in touch Section -->
  <div class="stay-in-touch text-center">
    <h2>Stay in touch</h2>
    <p class="stay-in-touch-content">An account manager dedicated to you and the option to communicate directly to the programmers working on your project.</p>
    <img src="/assets/images/chatting.png" alt="" style="height: 500px;">
  </div>

  <div class="vlt-gap-150"></div>
  <!-- No strings attached Section -->
  <div class="contracts text-center">
    <h3 class="contracts-title">No strings attached contracts</h3>
  </div>



  <div class="vlt-gap-150"></div>

  <!-- Get in Contact Section -->
  <div class="get-in-contact text-center">
    <h2 class="contact-title"> Get in contact </h2>
    <p class="contact-content">
      Make our team your team. Make your tech dreams come true.
    </p>
    <button mat-flat-button class="contact-button" color="primary"> Contact us </button>
  </div>

</div>