.flex-md-reverse{
    flex-wrap: wrap-reverse;
}

// Global styles
.d-flex{
    display: flex !important;
}

.mb-2{
    margin-bottom: 8px !important;
}

.flex-items-center{
    align-items: center !important;
}

.align-content-center {
    align-content: center;
}

.justify-content-center{
    justify-content: center;
}


.w-100{
    width:100%
}

h1{
    font-weight: bold;
    font-size: 4em;
}

.header{
    width: 80%;
    text-align: center;
    margin-left: 10%;   
}

.header-h4{
    font-size: 1.5em;
    font-weight: bold;
}

.items-center{
    align-items: center;
}

// Languages
.languages-content{
    max-width: 70%;
    margin-left: 20%;
    font-size: 1.2em;
    color: black;
    font-weight: bold;
    text-align: left;
}

.ml-n-1{
    margin-left: -8em;
}

.ml-n-2{
    
    margin-left: -16em;
}

.ml-n-3{
    
    margin-left: -24em;
}

.ml-n-4{
    
    margin-left: -32em;
}

.mr-n-0{
    margin-right : -4em;
}

.mr-n-1{
     margin-right: -11em;
}

.mr-n-2{
     
    margin-right: -19em;
}

.mr-n-3{
     
    margin-right: -27em;
}

.mr-n-4{
     
    margin-right: -35em;
}

.justify-content-right{
    justify-content: right;
}

.languages{
    overflow-x: hidden;
    max-width: 101%;
    width:101%;
}


// faq section
.faq-title{
    width: 100%;
    text-align: center;
}


.questions{
    max-width: 80%;
    margin-left: 10%;
}
.question{
    font-size: 1em;
    font-weight: bold;
    color: black;
    font-family: "Montserrat";
}

.answer{
    font-size: 1em;
    font-weight: 400;
    font-family: "Montserrat";
}

.mat-expansion-panel-header{
    padding: 2em;
}

.mat-expansion-panel-body{
    padding: 2em;
}

.language{
    padding: 0.4em;
    margin : 5px;
    box-shadow: 0 0 8px -2px #b3b3b3;
    border-radius: 19px;
}

.language-title{
    font-size: 1.2em; 
    font-weight: bold;
    margin-left: 5px;
}

.language-img{
    height: 70px;
    width: 70px;
}

.languages-row{
    margin-left: -2rem;
}
// No strings Attached Section
.contracts-title{
    font-size: 2em;
    font-weight: bold;
}




// Get in contact Section
.contact-button{
    padding: 0.5em 4em;
    font-size: 1.2em;
    font-weight: 400;
    background: #7d7d84;
}

.contact-content{
    padding: 1em;
    font-size: 1.5em;  
    color: #a3a3a3; 
}

.contact-title{
    color: #fff;
    font-weight: bold;
    font-size: 4em;
}

.get-in-contact{
    background: rgb(66, 66, 73);
    padding: 3em;
}

// Images positionning
.section-img-1{
    position: absolute; 
    width: 30%;
    top: 69%;
    left: 15%;
}
.section-img-2{
    position: absolute; 
    width: 40%;
    left: 30%;
}
.section-img-3{
    position: absolute; 
    width: 17%;
    left: 65%;
    top: 40%;
}





@media only screen and (max-width: 1499px)
{
    
}

@media only screen and (max-width: 1199px)
{
   
}

@media only screen and (max-width: 991px)
{
    .section-img-1{
        position: absolute; 
        width: 30%;
        top: 60%;
        left: 15%;
    }
}

@media only screen and (max-width: 767px)
{
    
}

@media only screen and (max-width: 575px)
{
    .section-img-1{
        width: 50%;
        top: 64%;
        left: 10px;
    }
    .section-img-2{
        width: 80%;
        left: 10%;
    }
    .section-img-3{
        width: 30%;
        left: 65%;
        top: 40%;
    }    
}