h1{
    font-weight: bold;
    font-size: 4em;
}

.header{
    width: 80%;
    text-align: center;
    margin-left: 10%;   
}

// Stay in touch section
.stay-in-touch-content{
    max-width: 60%;
    margin-left: 20%;
    font-size: 1em;
}


// No strings Attached Section
.contracts-title{
    font-size: 2em;
    font-weight: bold;
}




// Get in contact Section
.contact-button{
    padding: 0.5em 4em;
    font-size: 1.2em;
    font-weight: 400;
    background: #7d7d84;
}

.contact-content{
    padding: 1em;
    font-size: 1.5em;  
    color: #a3a3a3; 
}

.contact-title{
    color: #fff;
    font-weight: bold;
    font-size: 4em;
}

.get-in-contact{
    background: rgb(66, 66, 73);
    padding: 3em;
}