<!-- Main Section
<section>
  <div class="container-fluid">
    <div class="gap-150"></div>
    <div class="gap-50"></div>
    <div class="col-lg-7 offset-lg-1">
      <div class="row">
        <span class="line"></span> <h6>&nbsp; &nbsp;  ITmmediately</h6>
      </div>

      
      
      <h1 class="main-title">We Make Your <b>Digital Appearance</b> simple !</h1>
      <div class="main-sub">
        <p>Customized solutions to meet the needs of the changing market</p>
      </div>
      <div class="text-center col-lg-8">
        <div class="row offset-2 col-7 section-buttons">
          <div class="col-6 text-center">
            <div class="gap-20"></div>
            <button class="flat-main-button" mat-flat-button color="primary" href="http://">Our Services </button>
          </div>
          <div class="col-6 text-center">
            <div class="gap-20"></div>
            <button class="stroked-main-button" mat-stroked-button color="primary" href="http://"> CONTACT US</button>
          </div>
          
        </div>
      
      </div>
    </div>
  </div>
  <div class="gap-150"></div>
</section>
 -->

	

		<!--Fullpage Slider-->
		<div class="vlt-fullpage-slider" data-loop-top="" data-loop-bottom="" data-speed="450">
			<!--Home-->
			<!--Section-->
			<div class="vlt-section pp-scrollable" data-anchor="Home">
				
				<div class="vlt-section__vertical-align bg-black">

					
					<div class="vlt-section__content">
						<!--Ken Burn Effect-->
						<div class="vlt-section__ken-burn-background has-mobile-image"><img class="img-overlay" src="/assets/images/main-bg.gif" alt=""><img src="assets/img/home-mobile.jpg" alt=""></div>
						<div class="container-fluid">
							<img style="position: absolute; left:0;top:0" src="/assets/images/mainimg1.png" alt="">
							<img style="position: absolute; right:347px" src="/assets/images/mainimg2.png" alt="">
							<img style="position: absolute; top:-155px; right: -155px" src="/assets/images/mainimg3.png" alt="">
							<div class="vlt-gap-50"></div>
							<div class="row">
								<div class="col-lg-7">
									<!--Animated Block-->
                  <div class="vlt-animated-block row" data-animation-name="fadeInUpSm" style="animation-delay:.1s; animation-duration:700ms;">
                    <span class="line"></span><h6>&nbsp; &nbsp;  ITmmediately</h6> 
                  </div>
									<div class="vlt-gap-15"></div>
									<!--Animated Block-->
									<div class="vlt-animated-block" data-animation-name="fadeInUpSm" style="animation-delay:.2s; animation-duration:700ms;">
										<h1 class="main-title">We Make Your <b>Digital Appearance</b> simple !</h1>
                  </div>
									<div class="vlt-gap-30"></div>
									<!--Animated Block-->
									<div class="vlt-animated-block" data-animation-name="fadeInUpSm" style="animation-delay:.3s; animation-duration:700ms;">
										<p>Customized solutions to meet the needs of the changing market</p>
									</div>
								</div>
								
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--About-->
			<!--Section-->
			<div class="vlt-section pp-scrollable" data-anchor="About">
				<div class="vlt-section__vertical-align">
					<div class="vlt-section__content">
						<div class="container-fluid">
							<div class="row col-xl-12">
								<div class="col-xl-7">
									<!--Animated Block-->
									
								</div>
								<div class="col-xl-4 col-md-8">
									<h3 class="aboutus">&nbsp; ABOUT US</h3>
									<h1 class="aboutus-title">Delivering the best web experience.</h1>
									<p class="aboutus-content">We develop front-end and back-end web solutions for international clients from a wide range of industries. Our core commitment remains in enhancing consumer’s experience on the back of the latest technologies, state-of-art practices, and creative ideas.</p>
									<button class="aboutus-button" color="primary" mat-raised-button>Learn more</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--Section-->
			<div class="vlt-section pp-scrollable" data-anchor="Testimonials">
				<div class="vlt-section__vertical-align">
					<div class="vlt-section__content">
						<!--Ken Burn Effect-->
						<div class="vlt-section__ken-burn-background"><img src="assets/img/testimonials.jpg" alt=""></div>
						<div class="container">
							<div class="row align-items-end">
								
								<div class="col-xl-5 col-md-6">
									<div class="vlt-gap-70--lg"></div>
									<!--Animated Block-->
									<h2 class="services-sub-title">WHAT WE OFFER</h2>
											<h1 class="services-title"> <b>Our experience</b> & Expertise. </h1>
														<div class="vlt-animated-block" data-animation-name="fadeInUpSm" style="animation-delay:.1s; animation-duration:700ms;">
															<!--Content slider-->
															<div class="vlt-content-slider " data-navigation-anchor=".vlt-testimonials-anchor" data-effect="" data-gap="" data-loop="" data-speed="" data-autoplay="" data-autoplay-speed="" data-slides-centered="" data-slide-settings="{}" data-free-mode="" data-slider-offset="" data-mousewheel="">
																<div class="swiper-container">
																	<div class="swiper-wrapper">
																		<div class="swiper-slide">
																			<!--Testimonial-->
																			<div class="vlt-testimonial">
																				<div class="vlt-testimonial__text">
																					<p>&quot;Said heaven dry made Them gathering the very second morning us be divide isn't. Saw Seasons winged replenish grass from set can't for he which. You third god unto let.&quot;
																					</p>
																				</div>
																				<div class="vlt-testimonial__meta">
																					<h5 class="vlt-testimonial__name">Dwight Schrute
																					</h5>
																					<div class="vlt-testimonial__function">The Office
																					</div>
																				</div>
																			</div>
																		</div>
																		<div class="swiper-slide">
																			<!--Testimonial-->
																			<div class="vlt-testimonial">
																				<div class="vlt-testimonial__text">
																					<p>&quot;Said heaven dry made Them gathering the very second morning us be divide isn't. Saw Seasons winged replenish grass from set can't for he which. You third god unto let.&quot;
																					</p>
																				</div>
																				<div class="vlt-testimonial__meta">
																					<h5 class="vlt-testimonial__name">Paul &amp; Amanda
																					</h5>
																					<div class="vlt-testimonial__function">Envato Studio
																					</div>
																				</div>
																			</div>
																		</div>
																		<div class="swiper-slide">
																			<!--Testimonial-->
																			<div class="vlt-testimonial">
																				<div class="vlt-testimonial__text">
																					<p>&quot;Said heaven dry made Them gathering the very second morning us be divide isn't. Saw Seasons winged replenish grass from set can't for he which. You third god unto let.&quot;
																					</p>
																				</div>
																				<div class="vlt-testimonial__meta">
																					<h5 class="vlt-testimonial__name">Ramsay Bolton
																					</h5>
																					<div class="vlt-testimonial__function">Apple Inc
																					</div>
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
															<div class="vlt-gap-75"></div>
															<!--Slider controls-->
															<div style="color:black" class="vlt-slider-controls vlt-slider-controls--style-1 vlt-testimonials-anchor">
																<div class="vlt-swiper-button-prev"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 45">
																		<defs />
																		<path fill="currentColor" fill-rule="evenodd" d="M1.36413 22.5795L24 43.9524l-.7271.6865L.272896 22.9223l.383716-.3623-.362754-.3367L23.0941.319721l.733.680233L1.36413 22.5795z" clip-rule="evenodd" /></svg></div>
																<div class="vlt-swiper-button-next"><svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 45">
																		<defs />
																		<path fill-rule="evenodd" clip-rule="evenodd" d="M22.6359 22.3728L0 1.00001.727101.313477 23.7271 22.0301l-.3837.3623.3627.3367L.905866 44.6327l-.732997-.6803L22.6359 22.3728z" fill="currentColor" /></svg></div>
															</div>
														</div>
									</div>
                
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--Section-->
			<div class="vlt-section pp-scrollable" data-anchor="alternative-reinigingsmethoden">
				<div class="vlt-section__vertical-align">
					<div class="vlt-section__content">
						<!--Projects-->
						<div class="vlt-section__projects-background"><img class="is-active" src="assets/img/project-01.jpg" alt="" loading="lazy"><img src="assets/img/project-02.jpg" alt="" loading="lazy"><img src="assets/img/project-03.jpg" alt="" loading="lazy"></div>
						<div class="container-fluid">
							<div class="vlt-gap-100"></div>
							<!--Animated Block-->
							<div class="vlt-animated-block" data-animation-name="fadeInUpSm" style="animation-delay:.1s; animation-duration:700ms;">
								<!--Product-->
									<h6>SERVICES</h6>
									<h3>Everything You Need<span class="has-accent-color">.</span></h3>
									<div class="row col-xl-7">
										<div class="col-xl-6 row mt-100">
											<div class="col-xl-3">
												<img src="/assets/images/service.png" alt="">
											</div>
											<div class="col-xl-8">
												<h5>Service X</h5>
												<p>this is the service we are providing for you</p>
											</div>
										</div>
										<div class="col-xl-6 row mt-100">
											<div class="col-xl-3">
												<img src="/assets/images/service.png" alt="">
											</div>
											<div class="col-xl-8">
												<h5>Service X</h5>
												<p>this is the service we are providing for you</p>
											</div>
										</div>
										<div class="col-xl-6 row mt-100">
											<div class="col-xl-3">
												<img src="/assets/images/service.png" alt="">
											</div>
											<div class="col-xl-8">
												<h5>Service X</h5>
												<p>this is the service we are providing for you</p>
											</div>
										</div>
										<div class="col-xl-6 row mt-100">
											<div class="col-xl-3">
												<img src="/assets/images/service.png" alt="">
											</div>
											<div class="col-xl-8">
												<h5>Service X</h5>
												<p>this is the service we are providing for you</p>
											</div>
										</div>
									</div>
								<div class="vlt-gap-150"></div>
								
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--Section-->
			<div class="vlt-section pp-scrollable" data-anchor="waarom-schoonmaakberdrijf">
				<div class="vlt-section__vertical-align">
					<div class="vlt-section__content">
						<!--Projects-->
						<div class="vlt-section__projects-background"><img class="is-active" src="assets/img/project-01.jpg" alt="" loading="lazy"><img src="assets/img/project-02.jpg" alt="" loading="lazy"><img src="assets/img/project-03.jpg" alt="" loading="lazy"></div>
						<div class="container-fluid">
							<div class="vlt-gap-50"></div>
							<!--Animated Block-->
							<div class="vlt-animated-block row" data-animation-name="fadeInUpSm" style="animation-delay:.1s; animation-duration:700ms;">

								<div class="col-xl-5">
									<h3 class="testimonials-sub-title">TESTIMONIALS<span class="has-accent-color">.</span></h3>
									<h1 class="testimonials-title">What Our Customers Say</h1>
									<div class="vlt-gap-40"></div>
									<button mat-flat-button class="testimonial-button" color="primary">Contact us</button>
								</div>
									
								<!--Testimonials Slider-->
								<div class="col-xl-6">
									<div class="col-xl-7 offset-xl-3 testimonial-div">
										<div class="text-center">
											<h6>Ainara Vergara</h6>
											<p>Microsoft</p>
											<div class="testimonial-pic">

											</div>
										</div>
										<div class="vlt-gap-50"></div>
										<div>
											<p>"Though the gravity still dragged at him, his muscles were making great efforts to adjust. After the daily classes he no longer collapsed immediately into bed. Only the nightmares got worse."</p>
										</div>
									</div>
								</div>
								<div class="vlt-gap-150"></div>
								
							</div>
						</div>
					</div>
				</div>
			</div>
		
			
			
			<!--Blog-->
			<!--Section-->
			<div class="vlt-section pp-scrollable" data-anchor="Services">
				<div class="vlt-section__vertical-align">
					<div class="vlt-section__content">
						<div class="container">
							<!--Animated Block-->
							<div class="vlt-animated-block" data-animation-name="fadeInUpSm" style="animation-delay:0s; animation-duration:700ms;">
								<h3>Services</h3>
							</div>
							<div class="vlt-gap-100"></div>
							<div class="row">
								<div class="col-xl-4">
									<!--Animated Block-->
									<div class="vlt-animated-block" data-animation-name="fadeInUpSm" style="animation-delay:.1s; animation-duration:700ms;">
										<!--Blog Item-->
										<article class="vlt-post vlt-post--masonry">
											<div class="vlt-post-border"><span class="top"></span><span class="right"></span><span class="bottom"></span><span class="left"></span></div>
											<div class="vlt-post-media"><img src="assets/img/blog-01.jpg" alt="" loading="lazy"></div>
											<div class="vlt-post-content">
												<header class="vlt-post-header">
													<h3 class="vlt-post-title"><a href="/Microbiologie">Microbiologie</a></h3>
												</header>
												<div class="vlt-post-excerpt">
													<p>Let years seasons given two fowl above is itself shall third night female seasons you’re whales, unto had fowl Herb. Moving so. Said be fruitful first lights creeping deep void, lesser.
													</p>
												</div>
												<footer class="vlt-post-footer"><a class="vlt-read-more-link" href="/Microbiologie">
														Read more<svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 8">
															<defs />
															<path d="M15.3536 4.35355c.1952-.19526.1952-.51184 0-.7071L12.1716.464466c-.1953-.195262-.5119-.195262-.7071 0-.1953.195262-.1953.511845 0 .707104L14.2929 4l-2.8284 2.82843c-.1953.19526-.1953.51184 0 .7071.1952.19527.5118.19527.7071 0l3.182-3.18198zM0 4.5h15v-1H0v1z" fill="currentColor" /></svg></a></footer>
											</div>
										</article>
									</div>
								</div>
								<div class="col-xl-4">
									<div class="vlt-gap-30--lg"></div>
									<!--Animated Block-->
									<div class="vlt-animated-block" data-animation-name="fadeInUpSm" style="animation-delay:.2s; animation-duration:700ms;">
										<!--Blog Item-->
										<article class="vlt-post vlt-post--masonry">
											<div class="vlt-post-border"><span class="top"></span><span class="right"></span><span class="bottom"></span><span class="left"></span></div>
											<div class="vlt-post-media"><img src="assets/img/blog-02.jpg" alt="" loading="lazy"></div>
											<div class="vlt-post-content">
												<header class="vlt-post-header">
													<h3 class="vlt-post-title"><a href="/Droogijsstralen">Droogijsstralen</a></h3>
												</header>
												<div class="vlt-post-excerpt">
													<p>Let years seasons given two fowl above is itself shall third night female seasons you’re whales, unto had fowl Herb. Moving so. Said be fruitful first lights creeping deep void, lesser.
													</p>
												</div>
												<footer class="vlt-post-footer"><a class="vlt-read-more-link" href="/Droogijsstralen">
														Read more<svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 8">
															<defs />
															<path d="M15.3536 4.35355c.1952-.19526.1952-.51184 0-.7071L12.1716.464466c-.1953-.195262-.5119-.195262-.7071 0-.1953.195262-.1953.511845 0 .707104L14.2929 4l-2.8284 2.82843c-.1953.19526-.1953.51184 0 .7071.1952.19527.5118.19527.7071 0l3.182-3.18198zM0 4.5h15v-1H0v1z" fill="currentColor" /></svg></a></footer>
											</div>
										</article>
									</div>
								</div>
								<div class="col-xl-4">
									<div class="vlt-gap-30--lg"></div>
									<!--Animated Block-->
									<div class="vlt-animated-block" data-animation-name="fadeInUpSm" style="animation-delay:.3s; animation-duration:700ms;">
										<!--Blog Item-->
										<article class="vlt-post vlt-post--masonry">
											<div class="vlt-post-border"><span class="top"></span><span class="right"></span><span class="bottom"></span><span class="left"></span></div>
											<div class="vlt-post-media"><img src="assets/img/blog-03.jpg" alt="" loading="lazy"></div>
											<div class="vlt-post-content">
												<header class="vlt-post-header">
													<h3 class="vlt-post-title"><a href="/Personeel">Personeel</a></h3>
												</header>
												<div class="vlt-post-excerpt">
													<p>Let years seasons given two fowl above is itself shall third night female seasons you’re whales, unto had fowl Herb. Moving so. Said be fruitful first lights creeping deep void, lesser.
													</p>
												</div>
												<footer class="vlt-post-footer"><a class="vlt-read-more-link" href="/Personeel">
														Read more<svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 8">
															<defs />
															<path d="M15.3536 4.35355c.1952-.19526.1952-.51184 0-.7071L12.1716.464466c-.1953-.195262-.5119-.195262-.7071 0-.1953.195262-.1953.511845 0 .707104L14.2929 4l-2.8284 2.82843c-.1953.19526-.1953.51184 0 .7071.1952.19527.5118.19527.7071 0l3.182-3.18198zM0 4.5h15v-1H0v1z" fill="currentColor" /></svg></a></footer>
											</div>
										</article>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<!--Progress Bar-->
			<div class="vlt-fullpage-slider-progress-bar"><span></span></div>
		</div>
	
