<!-- Main Section
<section>
  <div class="container-fluid">
    <div class="gap-150"></div>
    <div class="gap-50"></div>
    <div class="col-lg-7 offset-lg-1">
      <div class="row">
        <span class="line"></span> <h6>&nbsp; &nbsp;  ITmmediately</h6>
      </div>

      
      
      <h1 class="main-title">We Make Your <b>Digital Appearance</b> simple !</h1>
      <div class="main-sub">
        <p>Customized solutions to meet the needs of the changing market</p>
      </div>
      <div class="text-center col-lg-8">
        <div class="row offset-2 col-7 section-buttons">
          <div class="col-6 text-center">
            <div class="gap-20"></div>
            <button class="flat-main-button" mat-flat-button color="primary" href="http://">Our Services </button>
          </div>
          <div class="col-6 text-center">
            <div class="gap-20"></div>
            <button class="stroked-main-button" mat-stroked-button color="primary" href="http://"> CONTACT US</button>
          </div>
          
        </div>
      
      </div>
    </div>
  </div>
  <div class="gap-150"></div>
</section>
 -->



<!--Fullpage Slider-->
<div class="vlt-fullpage-slider" data-loop-top="" data-loop-bottom="" data-speed="450">
	<!--Home-->
	<!--Section-->
	<div class="vlt-section pp-scrollable" data-anchor="Home">

		<div class="vlt-section__vertical-align bg-black">


			<div class="vlt-section__content">
				<!--Ken Burn Effect-->
				<div class="vlt-section__ken-burn-background has-mobile-image"><img class="img-overlay" src=""
						alt=""><img src="assets/img/home-mobile.jpg" alt=""></div>
				<div class="container-fluid">
					<img style="position: absolute; left:0;top:-5px" src="/assets/images/mainimg1.png" alt="">
					<img style="position: absolute; top:-155px; right: -155px" src="/assets/images/mainimg3.png" alt="">
					<div class="vlt-gap-50"></div>
					<div class="row">
						<div class="col-lg-7">
							<!--Animated Block-->
							<div class="vlt-animated-block row" data-animation-name="fadeInUpSm"
								style="animation-delay:.1s; animation-duration:700ms;">
								<span class="line"></span>
								<h6>&nbsp; &nbsp; ITmmediately</h6>
							</div>
							<div class="vlt-gap-15"></div>
							<!--Animated Block-->
							<div id="title1" class="vlt-animated-block title1" data-animation-name="fadeInUpSm"
								style="animation-delay:.2s; animation-duration:700ms;">
								<h1 class="main-title"> Make our team <p><b>your team!</b></p> </h1>
							</div>
							<div class="vlt-gap-30"></div>
							<div>
								<button mat-button class="btn--primary"> Get free consultation </button>
								<button mat-button class="btn--outline-primary ml-sm"> Know more </button>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
	<!--About-->
	<!--Section-->
	<div class="vlt-section pp-scrollable" data-anchor="About">
		<img src="assets/images/aboutus1.png" style="position: absolute;top: -157px;" alt="">
		<div class="vlt-section__vertical-align">
			<div class="vlt-section__content">


				<div class="container-fluid">
					<div class="row col-xl-12">

						<div class="col-xl-7">
							<!--Animated Block-->

							<img src="assets/images/aboutus2.png" style="position: absolute;" alt="">
							<img src="assets/images/aboutus3.png"
								style="position: absolute;bottom : 227px; right : 900px" alt="">
							<img src="assets/images/aboutus3.png"
								style="position: absolute;bottom : -300px; left : 1480px" alt="">


						</div>
						<div class="col-xl-4 col-md-8">
							<div class="vlt-gap-150"></div>
							<h3 class="aboutus">&nbsp; ABOUT US</h3>
							<div class="vlt-gap-20"></div>
							<h1 class="aboutus-title">Delivering the best web experience.</h1>
							<div class="vlt-gap-30"></div>
							<p class="aboutus-content">We develop front-end and back-end web solutions for international
								clients from a wide range of industries. Our core commitment remains in enhancing
								consumer’s experience on the back of the latest technologies, state-of-art practices,
								and creative ideas.</p>
							<div class="vlt-gap-30"></div>
							<a routerLink="/about-us" class="aboutus-button" color="primary" mat-raised-button>Learn
								more</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--Section-->
	<div class="vlt-section pp-scrollable" data-anchor="Testimonials">
		<div class="vlt-section__vertical-align">
			<div class="vlt-section__content">
				<!--Ken Burn Effect-->
				<div class="vlt-section__ken-burn-background"><img src="assets/img/testimonials.jpg" alt=""></div>
				<div class="container-fluid">
					<div class="row align-items-end">

						<div class="col-xl-5 col-md-6">
							<div class="vlt-gap-70--lg"></div>
							<!--Animated Block-->
							<h2 class="services-sub-title">WHAT WE OFFER</h2>
							<h1 class="services-title"> <b>Our experience</b> & Expertise. </h1>
							<div class="vlt-animated-block" data-animation-name="fadeInUpSm"
								style="animation-delay:.1s; animation-duration:700ms;">
								<div class="vlt-gap-30"></div>
								<!--Content slider-->
								<div class="vlt-content-slider " data-navigation-anchor=".vlt-testimonials-anchor"
									data-effect="" data-gap="50" data-loop="true" data-speed="" data-autoplay="true"
									data-autoplay-speed="3000" data-slides-centered="" data-slide-settings="{}"
									data-free-mode="" data-slider-offset="" data-mousewheel="">
									<div class="swiper-container">
										<div class="swiper-wrapper">
											<div class="swiper-slide">
												<!--Testimonial-->
												<div class="vlt-testimonial">
													<div class="vlt-testimonial__meta">
														<h5 class="vlt-testimonial__name">Software Development
														</h5>
														<div class="vlt-testimonial__function">Service 1
														</div>
													</div>
													<div class="vlt-testimonial__text">

														<p>&quot;Said heaven dry made Them gathering the very second
															morning us be divide isn't. Saw Seasons winged replenish
															grass from set can't for he which. You third god unto
															let.&quot;
														</p>
													</div>

												</div>
											</div>
											<div class="swiper-slide">
												<!--Testimonial-->
												<div class="vlt-testimonial">
													<div class="vlt-testimonial__meta">
														<h5 class="vlt-testimonial__name">Software Development
														</h5>
														<div class="vlt-testimonial__function">Service 1
														</div>
													</div>
													<div class="vlt-testimonial__text">

														<p>&quot;Said heaven dry made Them gathering the very second
															morning us be divide isn't. Saw Seasons winged replenish
															grass from set can't for he which. You third god unto
															let.&quot;
														</p>
													</div>

												</div>
											</div>
											<div class="swiper-slide">
												<!--Testimonial-->
												<div class="vlt-testimonial">
													<div class="vlt-testimonial__meta">
														<h5 class="vlt-testimonial__name">Software Development
														</h5>
														<div class="vlt-testimonial__function">Service 1
														</div>
													</div>
													<div class="vlt-testimonial__text">

														<p>&quot;Said heaven dry made Them gathering the very second
															morning us be divide isn't. Saw Seasons winged replenish
															grass from set can't for he which. You third god unto
															let.&quot;
														</p>
													</div>

												</div>
											</div>
										</div>
									</div>

								</div>
								<div class="vlt-gap-20"></div>
								<!--Slider controls-->

								<div class="text-center swiper-pagination col-lg-9"></div>
							</div>
						</div>
						<div class="col-xl-6 offset-xl-1">
							<div id="myCanvasContainer">
								<canvas width="600" height="600" id="myCanvas">
									<p>Anything in here will be replaced on browsers that support the canvas element</p>
								</canvas>
							</div>
							<div id="tags" style="font-size: 50%">
								<a href="#" style="font-size: 2.83ex"><img src="assets/images/devtools/dev1.svg"></a>
								<a href="#" style="font-size: 2.83ex"><img src="assets/images/devtools/dev2.svg"></a>
								<a href="#" style="font-size: 2.83ex"><img src="assets/images/devtools/dev3.svg"></a>
								<a href="#" style="font-size: 2.83ex"><img src="assets/images/devtools/dev4.svg"></a>
								<a href="#" style="font-size: 2.83ex"><img src="assets/images/devtools/dev5.svg"></a>
								<a href="#" style="font-size: 2.83ex"><img src="assets/images/devtools/dev6.svg"></a>
								<a href="#" style="font-size: 2.83ex"><img src="assets/images/devtools/dev7.svg"></a>
								<a href="#" style="font-size: 2.83ex"><img src="assets/images/devtools/dev8.svg"></a>
								<a href="#" style="font-size: 2.83ex"><img src="assets/images/devtools/dev9.svg"></a>
								<a href="#" style="font-size: 2.83ex"><img src="assets/images/devtools/dev10.svg"></a>
								<a href="#" style="font-size: 2.83ex"><img src="assets/images/devtools/dev11.svg"></a>
								<a href="#" style="font-size: 2.83ex"><img src="assets/images/devtools/dev12.svg"></a>
								<a href="#" style="font-size: 2.83ex"><img src="assets/images/devtools/dev13.svg"></a>
								<a href="#" style="font-size: 2.83ex"><img src="assets/images/devtools/dev14.svg"></a>
								<a href="#" style="font-size: 2.83ex"><img src="assets/images/devtools/dev15.svg"></a>
								<a href="#" style="font-size: 2.83ex"><img src="assets/images/devtools/dev16.svg"></a>
								<a href="#" style="font-size: 2.83ex"><img src="assets/images/devtools/dev17.svg"></a>
								<a href="#" style="font-size: 2.83ex"><img src="assets/images/devtools/dev18.svg"></a>
								<a href="#" style="font-size: 2.83ex"><img src="assets/images/devtools/dev19.svg"></a>
								<a href="#" style="font-size: 2.83ex"><img src="assets/images/devtools/dev20.svg"></a>
								<a href="#" style="font-size: 2.83ex"><img src="assets/images/devtools/dev21.svg"></a>
								<a href="#" style="font-size: 2.83ex"><img src="assets/images/devtools/dev22.svg"></a>
								<a href="#" style="font-size: 2.83ex"><img src="assets/images/devtools/dev23.svg"></a>
								<a href="#" style="font-size: 2.83ex"><img src="assets/images/devtools/dev24.svg"></a>
								<a href="#" style="font-size: 2.83ex"><img src="assets/images/devtools/dev25.svg"></a>
								<a href="#" style="font-size: 2.83ex"><img src="assets/images/devtools/dev26.svg"></a>
								<a href="#" style="font-size: 2.83ex"><img src="assets/images/devtools/dev27.svg"></a>
								<a href="#" style="font-size: 2.83ex"><img src="assets/images/devtools/dev28.svg"></a>
								<a href="#" style="font-size: 2.83ex"><img src="assets/images/devtools/dev29.svg"></a>


							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
	<!--Section-->
	<div class="vlt-section pp-scrollable" data-anchor="alternative-reinigingsmethoden">
		<div class="vlt-section__vertical-align">
			<div class="vlt-section__content">
				<!--Projects-->
				<div class="vlt-section__projects-background"><img class="is-active" src="assets/img/project-01.jpg"
						alt="" loading="lazy"><img src="assets/img/project-02.jpg" alt="" loading="lazy"><img
						src="assets/img/project-03.jpg" alt="" loading="lazy"></div>
				<div class="container-fluid">

					<!--Animated Block-->
					<div class="vlt-animated-block row" data-animation-name="fadeInUpSm"
						style="animation-delay:.1s; animation-duration:700ms;">
						<!--Product-->
						<div class="col-xl-8">
							<div class="vlt-gap-100"></div>
							<h6>SERVICES</h6>
							<h3>Everything You Need<span class="has-accent-color">.</span></h3>
							<div class="row col-xl-12">
								<div class="col-xl-6 row mt-100">
									<div class="col-xl-3">
										<img src="/assets/images/service.png" alt="">
									</div>
									<div class="col-xl-8">
										<div class="vlt-gap-20"></div>
										<h5>Service X</h5>
										<div class="vlt-gap-20"></div>
										<p>this is the service we are providing for you</p>
									</div>
								</div>
								<div class="col-xl-6 row mt-100">
									<div class="col-xl-3">
										<img src="/assets/images/service.png" alt="">
									</div>
									<div class="col-xl-8">
										<div class="vlt-gap-20"></div>
										<h5>Service X</h5>
										<div class="vlt-gap-20"></div>
										<p>this is the service we are providing for you</p>
									</div>
								</div>
								<div class="col-xl-6 row mt-100">
									<div class="col-xl-3">
										<img src="/assets/images/service.png" alt="">
									</div>
									<div class="col-xl-8">
										<div class="vlt-gap-20"></div>
										<h5>Service X</h5>
										<div class="vlt-gap-20"></div>
										<p>this is the service we are providing for you</p>
									</div>
								</div>
								<div class="col-xl-6 row mt-100">
									<div class="col-xl-3">
										<img src="/assets/images/service.png" alt="">
									</div>
									<div class="col-xl-8">
										<div class="vlt-gap-20"></div>
										<h5>Service X</h5>
										<div class="vlt-gap-20"></div>
										<p>this is the service we are providing for you</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xl-4 row">
							<div class="vertical-slider col-xl-11 m-auto">

							</div>
							<div class="col-xl-1 m-auto slider-div-controllers">
								<div><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
										xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512"
										style="enable-background:new 0 0 512 512;" xml:space="preserve">
										<path
											d="M256,0C115.39,0,0,115.39,0,256s115.39,256,256,256s256-115.39,256-256S396.61,0,256,0z" />
									</svg></div>
								<div><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
										xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512"
										style="enable-background:new 0 0 512 512;" xml:space="preserve">
										<path
											d="M256,0C115.39,0,0,115.39,0,256s115.39,256,256,256s256-115.39,256-256S396.61,0,256,0z" />
									</svg></div>
								<div><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
										xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512"
										style="enable-background:new 0 0 512 512;" xml:space="preserve">
										<path
											d="M256,0C115.39,0,0,115.39,0,256s115.39,256,256,256s256-115.39,256-256S396.61,0,256,0z" />
									</svg></div>
								<div><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
										xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512"
										style="enable-background:new 0 0 512 512;" xml:space="preserve">
										<path
											d="M256,0C115.39,0,0,115.39,0,256s115.39,256,256,256s256-115.39,256-256S396.61,0,256,0z" />
									</svg></div>
								<div><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
										xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512"
										style="enable-background:new 0 0 512 512;" xml:space="preserve">
										<path
											d="M256,0C115.39,0,0,115.39,0,256s115.39,256,256,256s256-115.39,256-256S396.61,0,256,0z" />
									</svg></div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
	<!--Section-->
	<div class="vlt-section pp-scrollable" data-anchor="waarom-schoonmaakberdrijf">
		<div class="vlt-section__vertical-align">
			<div class="vlt-section__content">
				<!--Projects-->
				<div class="vlt-section__projects-background"><img class="is-active" src="assets/img/project-01.jpg"
						alt="" loading="lazy"><img src="assets/img/project-02.jpg" alt="" loading="lazy"><img
						src="assets/img/project-03.jpg" alt="" loading="lazy"></div>
				<div class="container-fluid">
					<div class="vlt-gap-50"></div>
					<!--Animated Block-->
					<div class="vlt-animated-block row" data-animation-name="fadeInUpSm"
						style="animation-delay:.1s; animation-duration:700ms;">

						<div class="col-xl-5">
							<h3 class="testimonials-sub-title">TESTIMONIALS</h3>
							<h1 class="testimonials-title">What Our Customers Say</h1>
							<div class="vlt-gap-40"></div>
							<div class="row col-xl-12">
								<div class="testimonial-pdp" (click)="changeContent(1)">

								</div>
								<div class="testimonial-pdp t1" (click)="changeContent(2)" style="left: -35px;">

								</div>
								<div class="testimonial-pdp t" (click)="changeContent(3)" style="left:-70px">

								</div>
								<div class="testimonial-pdp t" style="left:-105px">

								</div>
							</div>
							<div class="vlt-gap-40"></div>
							<button mat-flat-button class="testimonial-button" color="primary">Contact us</button>
						</div>



						<!--Testimonials Slider-->
						<div class="col-xl-6">
							<div class="col-xl-7 offset-xl-3 testimonial-div">
								<div class="text-center">
									<h6>{{testimonial.name}}</h6>
									<p>{{testimonial.desc}}</p>
									<div class="testimonial-pic">

									</div>
								</div>
								<div class="vlt-gap-50"></div>
								<div>
									<p>"{{testimonial.content}}"</p>
								</div>
								<div
									class="col-xl-6 offset-xl-3 row text-center m-auto slider-div-controllers slider-testimonials-dots">
									<!-- <svg *ngFor="let testi of testimonials" (click)="changeContent(testi.id)" class="testimonial-svg" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve"> <path d="M256,0C115.39,0,0,115.39,0,256s115.39,256,256,256s256-115.39,256-256S396.61,0,256,0z"/> </svg> -->
									<div *ngFor="let testi of testimonials" (click)="changeContent(testi.id)"
										class="testimonial-controls"></div>
								</div>
							</div>
						</div>
						<div class="vlt-gap-150"></div>

					</div>
				</div>
			</div>
		</div>
	</div>
	<!--Progress Bar-->
	<div class="vlt-section pp-scrollable" data-anchor="getting-started">
		<div class="vlt-gap-150"></div>
		<div class="">
			<div class="container">
				<div class="text-center">
					<h3>READY TO <span class="text-main">DIVE IN?</span> </h3>
					<h5 >GETTING STARTED <span class="text-main2">IS SIMPLE</span> </h5>
				</div>

				<div>
					<p>
						Your project will always start wit a 30-minute (free and no strings attached) onboarding consultation with one of our account managers. During your consultation, we will get to know each other, gain a deeper understanding of your needs and figure out how we can best help you. If you decide to continue with us, the manager who onboarded you will be your account manager, dedicated to giving you regular updates and answering all your questions throughout our journey together.
					</p>
				</div>

				<div class="row col-12">
					<div class="col-8">
						<h6>Get your free and no strings attached consultation</h6>
						<p>During your consultation, we will get to know each other, gain a deeper understanding of your needs and figure out how we can best help you.</p>
					</div>
					<div class="col-4">
						<button mat-button> Get Started </button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="vlt-fullpage-slider-progress-bar"><span></span></div>
</div>