
<!--Fullpage Slider-->
<div class="vlt-fullpage-slider" data-loop-top="" data-loop-bottom="" data-speed="450">
	<!--Home-->
	<!--Section-->
	
	<div class="vlt-section pp-scrollable" data-anchor="Home">
		<app-header style="height: 100%;"></app-header>
	</div>

	<!-- About Section -->
	<div class="vlt-section pp-scrollable" data-anchor="About">
		<app-about style="height: 100%;"></app-about>
	</div>

	<!--Services Section-->
	<div class="vlt-section pp-scrollable" data-anchor="Services">
		<app-services style="height: 100%;"></app-services>
	</div>

	
	<!-- How it works Section-->
	<div class="vlt-section pp-scrollable" data-anchor="how-it-works">
		<app-how-it-works style="height: 100%;"></app-how-it-works>
	</div>

	<!--Testimonials Section-->
	<div class="vlt-section pp-scrollable" data-anchor="testimonials">
		<app-testimonials style="height: 100%;"></app-testimonials>
	</div>

	<!-- Getting Started section -->
	<div class="vlt-section pp-scrollable" data-anchor="getting-started">
		<app-get-started style="height: 100%;"></app-get-started>
	</div>

	<!--Progress Bar-->
	<div class="vlt-fullpage-slider-progress-bar"><span></span></div>
</div>






<!--About-->
	<!--Section-->
	<!-- <div class="vlt-section pp-scrollable" data-anchor="About">
		 <img src="assets/images/aboutus1.png" style="position: absolute;top: -157px;" alt="">
		<div class="vlt-section__vertical-align">
			<div class="vlt-section__content">


				<div class="container-fluid">
					<div class="row col-xl-12">

						<div class="col-xl-7">

							<img src="assets/images/aboutus2.png" style="position: absolute;" alt="">
							<img src="assets/images/aboutus3.png"
								style="position: absolute;bottom : 227px; right : 900px" alt="">
							<img src="assets/images/aboutus3.png"
								style="position: absolute;bottom : -300px; left : 1480px" alt="">


						</div>
						<div class="col-xl-4 col-md-8">
							<div class="vlt-gap-150"></div>
							<h3 class="aboutus">&nbsp; ABOUT US</h3>
							<div class="vlt-gap-20"></div>
							<h1 class="aboutus-title">Delivering the best web experience.</h1>
							<div class="vlt-gap-30"></div>
							<p class="aboutus-content">We develop front-end and back-end web solutions for international
								clients from a wide range of industries. Our core commitment remains in enhancing
								consumer’s experience on the back of the latest technologies, state-of-art practices,
								and creative ideas.</p>
							<div class="vlt-gap-30"></div>
							<a routerLink="/about-us" class="aboutus-button" color="primary" mat-raised-button>Learn
								more</a>
						</div>
					</div>
				</div>
			</div>
		</div> 
	</div> -->