
/******* the main section *****/


/* TypeWriting animation */
/* Animation */



.main-title{
    font-size: 7em;
    font-weight: 400;
    color: #3A393A;
}

.title2{
    display:none;
}

.main-sub{
    font-size : 1.5em;
    font-weight: 100;
    color: #3A393A;
}


.section-buttons button{
    font-size: 1em;
    font-weight: 300;
    padding-left: 35px;
    padding-right: 35px;
}

.stroked-main-button{
    border-width: 4px;
    border-radius: 24px;
    border-color: #3f51b5;
}

.flat-main-button{
    border-radius: 24px;
    padding-top: 2px;
    padding-bottom: 2px;
}

/****** about us section *****/

.aboutus-title{
    font-size:4.2em;
    font-weight: 400;
}

.aboutus-content{
    color:#33333380;
    text-align: justify;
    max-width: 29.375rem;
}

.aboutus-button{
    font-size:1.2em;
    padding: 10px 30px 10px 30px;
    background-color: #27358b;
}

.aboutus{
    font-size: 1.2em;
    color: #27358B;
}



/******** Testimonial Section ********/


/* text color */
.text-main{
    color:#753389;
}

.text-main2{
    color:#27358b;
}