.gap-150{
    height:15em
}
.gap-50{
    height:5em
}
.gap-30{
    height:3em
}
.gap-20{
    height:2em
}
.gap-10{
    height:1em
}

.aboutus-title{
    font-size:5em;
    font-weight: 400;
}

.aboutus-content{
    color:#33333380;
    text-align: justify;
}

.aboutus-button{
    font-size:1.2em;
    padding: 10px 30px 10px 30px;
}