.title{
    font-size: 5em;
    font-weight: bolder;
}
.bg-header{
    background: #f6f6ff;
}

.header{
    padding:5rem
}

.vlt-post-hero-title{
    padding: 20rem 0 23.375rem;
}

.vlt-post-title{
    font-size: 7rem;
    color: black;
    font-weight: bold;
    letter-spacing: -12px;
}


.testimonials-title{
    font-size: 5em;
}

.testimonials-sub-title{
    font-size: 2em;
    color : #27358B;
}

.testimonial-div{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 10px 20px 40px #00000018;
    border-radius: 32px;
    padding: 50px 50px 50px 50px;
}

.testimonial-pic{
    background-image: url('/assets/images/customers/1.jpg');
    background-size: cover;
    box-shadow: 5px 10px 30px #00000018;
    border-radius: 20px;
    width: 140px;
    height: 136px;
    position: absolute;
    bottom :210px;
    left: 9px;
    border:9px solid white;
}

.testimonial-controls{
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background : black;
    margin: auto;
    cursor: pointer;
    transition: all .5s;
}

.testimonial-controls:hover{
    height: 11px;
    width: 11px;
    border: 2px solid black;
    background: white;
}


.testimonial-button{
    font-size:1em;
    padding: 10px 50px 10px 50px;
}

.testimonial-pdp{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background: black;
    border: 10px solid white;
    box-shadow: 5px 10px 30px #00000018;
    position: relative;
    bottom:0;
    transition:all 1s ease;
}

.slider-testimonials-dots svg{
    margin: auto;
}

.t1{
    -webkit-transition:all .5s ease;
       -moz-transition:all .5s ease;
        -ms-transition:all .5s ease;
         -o-transition:all .5s ease;
            transition:all .5s ease;
}
.testimonial-pdp:hover{
    bottom : 30px;
    /* height: 130px;
    width: 130px; */
    cursor: pointer;
}

/* Slider */

.company-logo{
    height: 200px;
    box-shadow: 0px 19px 66px #6F6D7121;
    width: 200px;
    margin-top: 10px;
    margin-left:auto;
    margin-right:auto;
    background-size: cover;
}

