<section>
  <div class="container-fluid">
    <div class="gap-150"></div>
    <div class="col-lg-4 offset-lg-6">
      <h3>ABOUT US</h3>
      <h1 class="aboutus-title">Delivering the best web experience.</h1>
      <p class="aboutus-content">We develop front-end and back-end web solutions for international clients from a wide range of industries. Our core commitment remains in enhancing consumer’s experience on the back of the latest technologies, state-of-art practices, and creative ideas.</p>
      <button class="aboutus-button" color="primary" mat-raised-button>Learn more</button>
    </div>
    <div class="gap-150"></div>
  </div>
</section>