<div class="vlt-gap-100 vlt-gap-30--sm"></div>
<div class="">
	<div class="vlt-section__projects-background">

	</div>
	<div class="container-fluid">
		<img class="section-img-1" src="/assets/images/background-getstarted.svg" alt="">
		<div class="py-5 service-32">
			<div class="col-10 offset-1">
				<div class="row wrap-feature-32">
					<div class="col-md-6 align-self-center">
						<h3 class="my-3">GETTING READY <span class="text--primary">IS SIMPLE</span> </h3>
						<p class="mt-3"> Your project will always start with a 30-minute <span class="text--primary">(free and no strings attached)</span> onboarding consultation with one of our account managers. 
						</p>
						<p class="mt-3"> During your consultation, we will get to know each other, gain a deeper understanding of your needs. 
						</p>
						<a mat-button class="get-started-button mt-3" href="#f32">
							<span>Get Started</span>
						</a>
								
					</div>
					<div class="col-md-6"> <img src="/assets/images/sapiens.png" class="img-fluid" width="100%"> </div>

				</div>
			</div>
		</div>
	</div>
</div>