<div class="vlt-gap-150"></div>
		<div class="">
			<div class="vlt-section__projects-background">
			</div>
			<div class="container-fluid">
				<img src="/assets/images/get-started.svg" alt="">
				<div class="col-4 offset-2">
					<div class="text-center">
						<h3 class="text-lg-black">READY?</h3>
						<h5 class="text-lg">GETTING STARTED <span class="text-main2">IS SIMPLE</span> </h5>
					</div>
	
					<div>
						<p>
							Your project will always start with a 30-minute (free and no strings attached) onboarding consultation with one of our account managers.
						</p>
						<p>
							During your consultation, we will get to know each other, gain a deeper understanding of your needs.
						</p>
					</div>
	
					<div class="row col-12">
						<div class="col-4 offset-8">
							<button mat-flat-button class="get-started-button" color="primary"> Get Started </button>
						</div>
					</div>
				</div>
			</div>
		</div>