.text-lg-black{
    font-size: 9em;
    font-weight: bold;
}

.text-lg{
    font-size: 2.475em;
}

.get-started-button{
    box-shadow: 0px 0px 40px #822EFF;
    background: transparent linear-gradient(294deg, #753389 0%, #3E369A 100%) 0% 0% no-repeat padding-box;
    color: white;
    padding : 10px 50px 10px 50px;
    font-size: 1em;
    border-radius: 5px;
}

.content{
    color: black;
    font-size: 1.2em;
}