@import url(//fonts.googleapis.com/css?family=Montserrat:300,500);
.service-32 {
  font-family: "Montserrat", sans-serif;
	color: #8d97ad;
  font-weight: 300;
}

.service-32 h1, .service-32 h2, .service-32 h3, .service-32 h4, .service-32 h5, .service-32 h6 {
  color: #3e4555;
}

.service-32 .font-weight-medium {
	font-weight: 500;
}

.service-32 .badge {
	line-height: 14px;
}

.service-32 .badge-info {
	background: #188ef4;
}

.service-32 .btn-info-gradiant {
    background: #188ef4;
    background: -webkit-linear-gradient(legacy-direction(to right), #188ef4 0%, #316ce8 100%);
    background: -webkit-gradient(linear, left top, right top, from(#188ef4), to(#316ce8));
    background: -webkit-linear-gradient(left, #188ef4 0%, #316ce8 100%);
    background: -o-linear-gradient(left, #188ef4 0%, #316ce8 100%);
    background: linear-gradient(to right, #188ef4 0%, #316ce8 100%);
    border: 0px;
    color: #ffffff;
}

.service-32 .btn-info-gradiant:hover {
		background: #316ce8;
    background: -webkit-linear-gradient(legacy-direction(to right), #316ce8 0%, #188ef4 100%);
    background: -webkit-gradient(linear, left top, right top, from(#316ce8), to(#188ef4));
    background: -webkit-linear-gradient(left, #316ce8 0%, #188ef4 100%);
    background: -o-linear-gradient(left, #316ce8 0%, #188ef4 100%);
    background: linear-gradient(to right, #316ce8 0%, #188ef4 100%);
}

.service-32 .btn-md {
    padding: 15px 45px;
    font-size: 16px;
}

.text-lg{
    font-size: 2.475em;
}

.text-sm-black{
    font-size: 9em;
    font-weight: bold;
}

.p-50{
    padding: 50px;
}

.get-started-button{
    box-shadow: 0px 0px 40px #822EFF;
    background: transparent linear-gradient(294deg, #753389 0%, #3E369A 100%) 0% 0% no-repeat padding-box;
    color: white;
    padding : 10px 50px 10px 50px;
    font-size: 1em;
    border-radius: 5px;
}

.content{
    color: black;
    font-size: 1.2em;
}

.section-img-1{
    position: absolute; 
    top:0; 
    left:0px ; 
    height: 100%;
    object-fit: cover;
    width: 100%;
    z-index: -2;
}

.section-img-2{
    position: absolute; 
    top:0; 
    right: 100px; 
    max-width: 46% !important;
}

.container-fluid{
    overflow: hidden;
}

.mobile-img-2{
    display: none;
}


@media only screen and (max-width: 1199px)
{
    
}

@media only screen and (max-width: 991px)
{
    .p-50{
        padding: 30px;
    }
}

@media only screen and (max-width: 767px)
{
    
}

@media only screen and (max-width: 575px)
{
    .text-sm-black{
        font-size: 5em;
        font-weight: bold;
    }
    .text-sm{
        font-size: 1.375em;
    }
    .section-img-1{
        display: none;
    }
    .section-img-2{
        display: none;
    }
    .content{
        color: black;
        font-size: 0.9em;
        margin-bottom: 0.5rem;
    }
    .get-started-button{
        padding : 5px 30px 5px 30px;
        font-size: 0.9em;
        border-radius: 5px;
        margin-top: 20px;
    }
    .sm-hide{
        display: none;
    }
    .vlt-gap-30--sm{
        margin-top: 1rem;
    }

     .mobile-img-2{
         width: 110%;
         max-width: 110% !important;
         height: auto;
         position: relative;
         left: -5%;
         display: block;
     }

    // .mobile-img-2{
    //     display: block;
    //     height: 42vh;
    //     width: 110% !important;
    //     object-fit: cover;
    //     object-position: top;
    //     max-width: 110% !important;
    //     position: relative;
    //     left: -5%;
    // }

    .container-fluid{
        overflow-x: hidden;
    }

}