<div class="vlt-gap-150 vlt-gap-30--sm"></div>
<div class="">
	<div class="vlt-section__projects-background">

	</div>
	<div class="container-fluid">
		<img class="section-img-1" src="/assets/images/background-getstarted.svg"
			alt="">
		<img class="section-img-2" src="/assets/images/get-started.svg" alt="">
		<img class="mobile-img-2" src="/assets/images/get-started.png" alt="">
		<div class="col-lg-5 offset-lg-1 col-12">
			<div class="text-center">
				<h3 class="text-lg-black text-sm-black">READY?</h3>
				<h5 class="text-lg text-sm">GETTING STARTED <span class="text--primary">IS SIMPLE</span> </h5>
			</div>

			<div>
				<p class="content">
					Your project will always start with a 30-minute <span class="text--primary"> <b>(free and no strings
							attached)</b> </span> onboarding consultation with one of our account managers.
				</p>
				<p class="content">
					During your consultation, we will get to know each other, gain a deeper understanding of your needs.
				</p>
			</div>

			<div class="row col-12">
				<div class="col-lg-6 offset-lg-8 col-8 offset-4 text-right">
					<button mat-button class="get-started-button"> Get Started </button>
				</div>
			</div>
		</div>
	</div>
</div>